Checks: >
  *,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-*,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-noexcept-swap,
  -cppcoreguidelines-use-enum-class,
  -modernize-use-trailing-return-type,
  -modernize-use-ranges,
  -modernize-use-nullptr,
  -modernize-use-constraints,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-return-braced-init-list,
  -readability-identifier-length,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-redundant-parentheses,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-redundant-member-init,
  -readability-named-parameter,
  -readability-redundant-typename,
  -readability-avoid-nested-conditional-operator,
  -readability-use-concise-preprocessor-directives,
  -readability-simplify-boolean-expr,
  -readability-implicit-bool-conversion,
  -google-runtime-int,
  -google-explicit-constructor,
  -google-readability-namespace-comments,
  -llvm-include-order,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -cert-err58-cpp,
  -cert-msc32-c,
  -cert-msc51-cpp,
  -cert-dcl58-cpp,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -boost-use-ranges,
  -bugprone-command-processor,
  -bugprone-random-generator-seed,
  -bugprone-std-namespace-modification,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-explicit-conversions,
  -hicpp-named-parameter,
  -hicpp-special-member-functions,
  -hicpp-use-nullptr,
  -performance-noexcept-swap,
  -performance-enum-size,
HeaderFilterRegex: '.*/osearch/.*'
WarningsAsErrors: ''
